<template>
  <meta name="attribute" content="color" style />
  <slot id="header" name="header"></slot>
  <code>
    <slot name="code"></slot>
  </code>
</template>

<script>
  export default ({ root, el, attr }) => {
  }
</script>

<style>
  :host {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px 32px 24px 32px;
    text-align: center;
    background-color: var(--color, #222);
    color: #FFF;
    font-family: var(--sans-serif);
  }

  #header {
    font-size: 0.6em;
    font-family: var(--monospace);
    line-height: 1.8em;
    font-weight: 400;
  }

  code {
    border: 1px solid #555;
    background-color: #555;
    color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #00000055;
    text-align: left;
    padding: 16px;
  }
</style>