<property name="bgcolor" default="#eceae3" expose-to-styles attribute />

<template>
  <slot></slot>
  <code>
    <slot name="code"></slot>
  </code>
</template>

<script>
  export default ({ root, el, attr }) => {}
</script>

<style>
  :host {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px 32px 24px 32px;
    text-align: center;
    background-color: var(--bgcolor);
    color: #FFF;
    font-family: var(--sans-serif);
  }

  ::slotted(h1) {
    color: #222;
    font-size: 1.2em;
    font-family: var(--sans-serif);
    line-height: 1.8em;
    font-weight: 600;
    margin-bottom: 0;
  }

  ::slotted(p) {
    color: #222;
    font-size: 1em;
    font-family: var(--sans-serif);
    line-height: 1.6em;
    font-weight: 400;
    margin: 0;
  }

  code {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 1px 1px #00000055;
    text-align: left;
    padding: 16px;
  }
</style>