<property name="color" default="#eee" expose-to-styles attribute />
<property name="color-dark" default="#333" expose-to-styles attribute />
<property name="dark" default="false" expose-to-styles attribute />

<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
  export default function ({ root, el, attrs }) {}
</script>

<style>
  :host {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px 32px;
    text-align: center;
    background-color: var(--color, #777);
    color: #000;
    font-family: var(--sans-serif);
  }

  :host([dark]) {
    color: #FFF;
  }
</style>