<property name="bgcolor" default="#338" expose-to-styles attribute />
<property name="color" default="#fff" expose-to-styles attribute />
<property name="to" attribute />

<template>
  <button id="button">
    <slot></slot>
  </button>
</template>

<script>
  export default ({ root, el, props, ext }) => {
    el.button.onclick = () => {
      ext.router.push(props.to.value);
    };
  }
</script>

<style>
  :host {
    --border-radius: 3rem;
  }

  button {
    margin: 8px 0;
    filter: contrast(1.2);
    border-radius: var(--border-radius);
    border: 1px solid #eee;
    padding: 16px 32px;
    font-size: 1.2rem;
    background-color: var(--color, #fff);
    position: relative;
    transition: all 0.3s;
  }
</style>