<property name="color" default="#eee" expose-to-styles attribute />
<property name="color-dark" default="#333" expose-to-styles attribute />
<property name="dark" default="false" expose-to-styles attribute />

<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
  export default function ({ root, el, attrs }) {}
</script>

<style>
  :host {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px 32px;
    text-align: center;
    background-color: var(--color, --paper-1);
    color: var(--black);
    font-family: var(--sans-serif);
    max-width: 100%;
  }

  div {
    max-width: 720px;
    margin: 0 auto;
  }

  ::slotted(h1) {
    color: var(--black);
    font-size: 1.2em;
    font-family: var(--sans-serif);
    line-height: 1.8em;
    font-weight: 600;
    margin-bottom: 0;
  }

  ::slotted(p) {
    color: var(--black);
    font-size: 1em;
    font-family: var(--sans-serif);
    line-height: 1.6em;
    font-weight: 400;
    margin: 0;
  }
</style>