@property --degrees {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

:root {
  --black: hsl(0, 0%, 7%);
  --white: hsl(0, 0%, 99%);

  --color-1: hsl(310, 24%, 19%);
  --color-2: hsl(220, 43%, 23%);
  --color-3: hsl(17, 54%, 43%);

  --paper-1: hsl(47, 12%, 96%);
  --paper-2: hsl(47, 12%, 82%);
  --paper-3: hsl(47, 12%, 79%);

  --slate-1: hsl(207, 6%, 95%);
  --slate-2: hsl(207, 6%, 91%);
  --slate-3: hsl(207, 6%, 87%);

  --sans-serif: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --serif: 'Georgia', 'Times New Roman', Times, serif;
  --monospace: 'Courier New', Courier, monospace;

  --code-text: var(--black);
  --code-tagstart: hsl(303, 64%, 35%);
  --code-attr: hsl(176, 46%, 34%);
  --code-attrval: hsl(53, 28%, 25%);  
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: hsl(0, 0%, 93%);
    --white: hsl(0, 0%, 7%);

    --color-1: hsl(300, 100%, 15%);
    --color-2: hsl(120, 100%, 13%);
    --color-3: hsl(180, 100%, 13%);

    --paper-1: hsl(207, 6%, 15%);
    --paper-2: hsl(207, 6%, 12%);
    --paper-3: hsl(207, 6%, 10%);

    --slate-1: hsl(207, 6%, 25%);
    --slate-2: hsl(207, 6%, 20%);
    --slate-3: hsl(207, 6%, 15%);

    --code-text: var(--white);
    --code-tagstart: hsl(303, 64%, 65%);
    --code-attr: hsl(176, 46%, 65%);
    --code-attrval: hsl(53, 28%, 75%);
  }
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

body:not(.hydrated) {
  & ns-details, 
  & ns-footer, 
  & ns-button,
  & ns-demo {
    display: none;
  }
}

/* Prevent FOUC from being too noticable on Safari */
body:not(:-webkit-full-screen-ancestor):not(.hydrated) {
  & ns-header {
    height: 58px;
    background: linear-gradient(20deg, #404, #002 );
  }
  & ns-button {
    display: inline-block;
    --border-radius: 3rem;
    margin: 8px 0;
    filter: contrast(1.2);
    border-radius: var(--border-radius);
    border: 1px solid #eee;
    padding: 16px 32px;
    font-size: 1.2rem;
    background-color: var(--color, #fff);
    position: relative;
    transition: all 0.3s;
  }
}

/* Hero */
div#hero {
  --degrees: 5deg;
  text-align: center;
  font-family: var(--monospace);
  font-size: 1.8em;
  font-weight: 400;
  color: var(--black);
  padding: 3rem 1rem;
  background-color: var(--paper-1);
  border-bottom: 1px solid var(--paper-2);

  & .rainbow-text {
    background-image: linear-gradient(45deg, #cb1753, #1c3d83);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 500;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #fff;
  }

  body:not(.hydrated) {
    & ns-header {
      background: linear-gradient(20deg, #404, #002 );
    }
  }
}